<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Mode" value="TestData" />
    <add key="Path" value="C:\Users\sflem\OneDrive\Documents\steve-fleming-individual-dashwork\Milestone1\FlooringMastery\Data\Orders" />
    <add key="TestPath" value="C:\Users\sflem\OneDrive\Documents\steve-fleming-individual-dashwork\Milestone1\FlooringMastery\Data\TestOrders" />
  </appSettings>
</configuration>